* {
	box-sizing: border-box;
	font-size: 30px;
	/*區塊不會因為padding被推大*/
	/*先預設所有區塊的效果*/
}

body {
	width: 100%;
	height: 100vh;

	padding: 0;
	font-family: Roboto;
	background: #f1f1f1;
	/*整個body的區塊、body裡的所有區塊都會貼邊*/
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 10%;
	position: relative;
}
.headerpic{
	width: 100%;
}
.logo{
	position: absolute;
	top: 3px;
	left: 30px;
	width: 12%
}
.content{
	width: 100%;
	background-color: #E5E5E5;
}
.up{
	width: 100%;
	height: 200px;
	float: left;
}

.down{
	width: 100%;
	height: 280px;
	float: left;
	position: relative;
	overflow: scroll;
}

.op_date{
	position: absolute;
	left: 50%;
	top: 17.58%;
	transform: translate(-50%);
	/*margin-top: 105px;*/
	display: flex;
}
.date{
	width: 234px;
	height: 70px;
	padding: 10px;
	display: inline-block;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 20px;
	color: rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	font-size:26px;
	outline:none;
}
.to{
	height: 70px;
	display: inline-block;
	display: flex;
	align-items: center;
}
.button_search{
	width: 150px;
	height: 70px;
	border-radius: 20px;
	position: absolute;
	left: 50%;
	top: 35.76%;
	transform: translate(-50%);
	color: white;
	background-color: #274C77;
	line-height: 70px;
	vertical-align: middle;
	text-align: center;
	
}
.selected_date{
	width: 512px;
	height: 30px;
	margin: auto;
	margin-top: 5px;
	text-align: center;
}
.down table{
	margin-top: 20px;
	position: absolute;
	left: 11%;

	border-collapse: collapse;
	font-size: 30px;
	text-align: center
}

th{
	background-color: #C4C4C4;
	border: none; 
	width: 200px;
	height: 70px
}
td{
	border: none;
	height: 70px;
	border-bottom: 1px solid #C4C4C4;

}

td button{
	font-size: 30px;
	color: #274C77;
	border:none;
}